<!DOCTYPE html>
<html>
    <head>
        <title><MAIDENLESS></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/index.js" defer></script>
    </head>
    <body>
        <h1>-- The Homies --</h1>

        <div class="container">
            <% if (messages.length) { %> <% messages.forEach(message => { %>
            <p>
                <%= message.user%> ~ <%= message.text %>
            </p>
            <% }) %> <% } else { %>
            <p>No messages.</p>
            <% } %>
        </div>

        <form method="POST" action="/">
            <label for="name">
                Name:
                <input type="text" name="name" id="name" value="<%= name %>"/>
            </label>
            <br />
            <label for="message">
                Message:
                <input type="text" name="message" id="message"/>
            </label>
            <br />
            <button type="submit">Post</button>
        </form>
    </body>
</html>
