<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>

    <p>Messages:</p>
    <% messages.forEach(message => { %>
      <li>
        <%= message.user%>: <%= message.text %>
        <p></p>
      </li>
    <% }) %>

    <a href="/new">Add a new message!</a>
  </body>
</html>
