body {
  padding: 50px;
  font: 24px monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(140, 20, 20);
  font-family: monospace;
}

.container {
  border: black 2px solid;
  background-color: rgb(206, 231, 252);
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto 40px;
  width: 90vw;
  height: 50dvh;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

label {
  display: flex;
  justify-content: space-between;
}

input {
  font-size: 24px;
}

button{ 
  padding: 10px 50px;
  max-width: 200px;
  margin: auto;
  font-size: 24px;
}